<!DOCTYPE html>
<html>
<header><img src="/assets/brandnew_logo.png"/></header>

	<body>


		<div class="container">

			<h1>Choose what you want to do</h1>

			<%= link_to "Campaigns" , campaigns_path %> |
			<%= link_to "Campaigns active" , campaign_status_path("active") %> |
			<%= link_to "Campaigns archived" , campaign_status_path("archived") %> |
			<%= link_to "Campaigns draft" , campaign_status_path("draft") %> |
			<%= link_to "Campaigns finished" , campaign_status_path("finished") %> |


			<p><h2>JSON format</h2></p>


			<%= link_to "Campaigns" , campaigns_path %> |
			<%= link_to "Campaigns active" , campaign_status_path("active.json") %> |
			<%= link_to "Campaigns archived" , campaign_status_path("archived.json") %> |
			<%= link_to "Campaigns draft" , campaign_status_path("draft.json") %> |
			<%= link_to "Campaigns finished" , campaign_status_path("finished.json") %> |

			<br>
			<%= link_to "Bookings" , bookings_path %>



		</div>
	</body>
</html>
