<div class="singlecampaign">

<span class="campaignbutton">Campaign id:</span><%= @booking.campaign_id %><br>
<span class="campaignbutton">Social Media Profile id:</span><%= @booking.social_media_profile_id %><br>
<span class="campaignbutton">Status:</span><%= @booking.status %><br>
<span class="campaignbutton">Comment:</span><%= @booking.comment %><br>
<span class="campaignbutton">Price:</span><%= @booking.price %><br>
<span class="campaignbutton">Created at:</span><%= @booking.created_at %><br>
<span class="campaignbutton">Updated at:</span><%= @booking.updated_at %><br>


<div id="main-container" class="container">
      <div class="row">
        <div id="sidebar" class="col-xs-3">
          <!-- sidebar content -->
        </div>
        <div id="content" class="col-xs-9">
          <!--  main content -->
        </div>
      </div>
    </div>


    <div class="description">
    <span class="campaignbutton">Comment:</span><%= @booking.comment %><br>

	</div>
</div>
