<header><img src="/assets/brandnew_logo.png"/></header>
<div class="singlecampaign">

<span class="campaignbutton">Name:</span><%= @campaign.name %><br>
<span class="campaignbutton">Status:</span><%= @campaign.status %><br>
<span class="campaignbutton">Budget:</span><%= @campaign.budget %><br>
<span class="campaignbutton">Brand:</span><%= @campaign.brand %><br>
<span class="campaignbutton">Campaign Type:</span><%= @campaign.campaign_type %><br>
<span class="campaignbutton">Created date:</span><%= @campaign.created_at %><br>


<div id="main-container" class="container">
      <div class="row">
        <div id="sidebar" class="col-xs-3">
          <!-- sidebar content -->
        </div>
        <div id="content" class="col-xs-9">
          <!--  main content -->
        </div>
      </div>
    </div>
    
    
    <div class="description">
		<span class="campaignbutton">Description:</span><%= @campaign.description %><br>
		
	</div>
    
    <div class="bookings">
    <span class="campaignbutton bookingbutton">Bookings</span>
    
    
					<% @bookings.each do |b|  %>
						
					<ul class="campaigns">
						
						<li class="">Social media profile:<%=	b.social_media_profile_id %> <br /></li>
					</ul>
						
					<% end %>
    
    </div>
    
</div>
