<div class="contentdiv">
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav navbar-nav navbar-center">
          <%= link_to "Go Back", campaigns_path, class: "btn btn-primary btn-xs navbar-btn" %>
        </ul>
      </div>
    </div>
  </div>
  <div class="singlecampaign">
    <ul>
      <li class="campaignbutton">Name: <%= @campaign.name %></li>
      <li class="campaignbutton">Status: <%= @campaign.status %></li>
      <li class="campaignbutton">Budget: <%= @campaign.budget %></li>
      <li class="campaignbutton">Brand: <%= @campaign.brand %></li>
      <li class="campaignbutton">Campaign Type: <%= @campaign.campaign_type %></li>
      <li class="campaignbutton">Created date: <%= @campaign.created_at %></li>
    </ul>
  <div class="description">
    <span class="campaignbutton">Description: <%= @campaign.description %>
    </div>
    <div class="bookings">
      <span class="campaignbutton bookingbutton">Bookings</span>

      <% @bookings.each do |b|  %>

      <ul class="campaigns">

        <li class="campaignbutton">Social media profile name:<%=	b.social_media_profile.profile_name %> <br /></li>
        <li class="campaignbutton">Booking status:<%=	b.status %> <br /></li>
        <li class="campaignbutton">Booking price:<%=	b.price %> <br /></li>
      </ul>

      <% end %>

    </div>
  </div>
</div>
</div>
