<div class="contentdiv">

  <div class="singlecampaign">
    <ul>
      <li class="campaignbutton">Name:</li><span class="campaign_info"><%= @campaign.name %></span>
      <li class="campaignbutton">Status:</li><span class="campaign_info"><%= @campaign.status %></span>
      <li class="campaignbutton">Budget:</li><span class="campaign_info"><%= @campaign.budget %></span>
      <li class="campaignbutton">Brand:</li><span class="campaign_info"><%= @campaign.brand %></span>
      <li class="campaignbutton">Campaign Type:</li><span class="campaign_info"><%= @campaign.campaign_type %></span>
      <li class="campaignbutton">Created date:</li><span class="campaign_info"><%= @campaign.created_at %></span>
    </ul>

    <div id="main-container" class="container">
       <div class="row">
        <div id="sidebar" class="col-xs-3">
        <!-- sidebar content -->
        </div>
        <div id="content" class="col-xs-9">
        <!--  main content -->
        </div>
        </div>
        <div class="description">
        <span class="campaignbutton">Description:</span><%= @campaign.description %><br>
        </div>
        <div class="description">
        <span class="campaignbutton bookingbutton">Bookings</span>

                    <% @bookings.each do |b|  %>

                    <ul class="campaigns">

                      <li class="campaignbutton">Social media profile name:<%=	b.social_media_profile.profile_name %> <br /></li>
                      <li class="campaignbutton">Booking status:<%=	b.status %> <br /></li>
                      <li class="campaignbutton">Booking price:<%=	b.price %> <br /></li>
                    </ul>

                    <% end %>

                  </div>
                </div>
              </div>
            </div>
